<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ErrorHandling</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Default Error Handling" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Default Error Handling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="global-error-handling" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Global Error Catching
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handling-error-from-layout" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Handling Error From Layout
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handling-component-error" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Handling Component Error
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handling-http-errors-by-http-client-wrapper" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Handling HTTP Errors by HttpClient Wrapper
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="custom-error-handling" Match="NavLinkMatch.All">
                <span class="oi oi-infinity" aria-hidden="true"></span> Custom Error Handling
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
